html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
}

/* globals */

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

/* header and nav */

.site-name {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
  font-size: 4rem;
}

.site-name span {
  color: #037bc0;
}

.container-nav {
  border-top: .1rem solid #e1e1e1;
}

.nav-main {
  padding: 2rem 0;
  display: flex;
  justify-content: space-around;
}

.hero {
  background-image: url(../img/principal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 55rem;
}

/* categories */

.categories h2 {
  text-align: center;
}

.category a {
  text-align: center;
  display: block;
  padding: 2rem;
  font-size: 2rem;
}

.category a:hover {
  background-color: #037bc0;
  color: #fff;
  border-radius: 0 0 1rem 0;
}

.list-category {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
